
#content {
    padding: 0;
    background-color: #fff;
    margin: 0;
    clear: both;
}

.label-wrc{
    display:block;
    font-weight:bold;
    text-align:left;
    width:240px;
}

.small-wrc{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:left;
    width:140px;
    clear: both;
}

.readonly{
    background: #99ffff;
}

.input-wrc{
    font-size:12px;
    background: #dddddd;
    padding: .5em;
    border:5px;
    width:200px;
    margin:2px 0 5px 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.input-area-wrc{
    margin:2px 0 5px 0;
    BORDER: #5380C4 1px solid; WIDTH: 250px; COLOR:
        #5380C4; HEIGHT: 70px; BACKGROUND-COLOR: #fafafa;
    padding:0.25em;
    font:12px "Lucida Grande", sans-serif;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}

.input-select-wrc{
    margin:2px 0 5px 0;
    BORDER: #5380C4 1px solid; WIDTH: 210px; COLOR:
        #5380C4; HEIGHT: 20px; BACKGROUND-COLOR: #fafafa;
    padding:0.05em;
    font:12px "Lucida Grande", sans-serif;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}

.input-select-all{
    margin:2px 0 5px 0;
    BORDER: #5380C4 1px solid; COLOR:
        #5380C4; HEIGHT: 20px; BACKGROUND-COLOR: #fafafa;
    padding:0.05em;
    font:12px "Lucida Grande", sans-serif;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}

.button-wrc, .submit-wrc{
    margin:2px 5px 10px 0;
    clear:both;
    background:#0054A5;
    padding:0.25em;
    color:#FFFFFF;
    border:solid 0px #fff;
    font-size:13px;
    font-weight: normal;
    font-family: "Lucida Grande", "Lucida Sans Unicode";
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.button-wrc[disabled], .submit-wrc[disabled] {
    background: gray;
}

.button-wrc[disabled]:hover, .submit-wrc[disabled]:hover {
    background: gray;
}

.button-wrc:hover, .submit-wrc:hover {
    background: #5380C4;
    cursor: pointer;
}

.link-wrc a, a.link-wrc{
    padding: 5px;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    background-color: #0054A5;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}

.link-win a, a.link-win{
    padding: 5px;
    color: #FFF;
}

.link-wrc a:hover, a.link-wrc:hover{
    background: #5380C4;
}

/*table.status {
        padding:0;
        border:1px solid #0054A5;
        -moz-border-radius:0.4em;
        -khtml-border-radius:0.4em;
	width: 70%;
}

table.status thead th {
	padding: 3px 18px 3px 10px;
        border-bottom:1px solid #0054A5;
	font-weight: bold;
}

table.status tbody td {
	padding: 3px 18px 3px 10px;
        border-bottom:1px solid #0054A5;
}*/

/*
form {
	background:#fff;
	padding:1em;
	border:1px solid #eee;
	margin:1em;
	width:27em;
}

fieldset div {
	margin:0.3em 0;
	clear:both;
}
*/
label {
    float:left;
    width:15em;
    margin:2px 2px 5px 0;
}
legend {
    color:#0054a5;
    font-size:1.2em;
}
legend span {
    width:10em;
    text-align:right;
}
input[type=text], input[type=password] {
    padding:0.25em;
    COLOR: #5380C4;
    width:350px;
    border:1px solid #5380C4;
    background:#fafafa;
    font:12px "Lucida Grande", sans-serif;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}
input[type=text]:hover, input[type=text]:focus, input[type=password]:hover, input[type=password]:focus {
    border-color:#c5c5c5;
    background:#f6f6f6;
}
fieldset {
    padding:0 0.5em 0.5em;
    border:1px solid #0054A5;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}
.date input {
    background-image:url(../gfx/calendar-small.gif);
    background-repeat:no-repeat;
    background-position:100% 50%;
}

.date fieldset label {
    float:none;
    display:block;
    text-align:left;
    width:auto;
}
.date fieldset div {
    float:left;
    clear:none;
    margin-right:0.2em;
}
.radio, .date {
    position:relative;
}
.radio fieldset, .date fieldset {
    border:none;
    width:auto;
    padding:1px 0 0 11em;
}
.radio legend, .date legend {
    font-size:1em;
    color:#000;
}
.radio legend span, .date legend span {
    position:absolute;
    left:0;
    top:0.3em;
    width:10em;
    display:block;
}
.radio label, .radio input {
    vertical-align:middle;
    display:inline;
    float:none;
    width:auto;
    background:none;
    border:none;
}
.radio div {
    float:left;
    white-space:nowrap;
    clear:none;
}

.email {
    width:14em;
}

input.default {
    color:#bbb;
}